<template>
  <div class="home">
    <h2>I migliori articoli e notizie, della capitale!</h2>
    <Login />
  </div>
</template>

<script>
import Login from ".././components/Login.vue";
export default {
  name: "home",
  components: { Login }
};
</script>
<style>
h2 {
  font-style: italic;
}
</style>
