<template>
  <div class="registrazione">
    <form v-if="!submitted">
      <label for="firstname">Firstname</label>
      <input type="text" v-model="firstname" placeholder="*" />
      <label for="lastname">Lastname</label>
      <input type="text" v-model="lastname" placeholder="*" />
      <label for="username">Username</label>
      <input type="text" v-model="username" placeholder="*" />
      <label for="password">Password</label>
      <input type="password" v-model="password" placeholder="*" />
      <label for="dob">Date of birthday</label>
      <input type="date" v-model="dob" />
      <button type="button" @click="getUser">Registrati</button>
    </form>
    <span v-else>Benvenuto tra noi {{ firstname }}!</span>
  </div>
</template>
<script>
import Utente from ".././components/models/Utente.vue";
import { apiUrl } from "../utenteService";
export default {
  components: { Utente },
  data() {
    return {
      submitted: false,
      firstname: "",
      lastname: "",
      username: "",
      password: "",
      dob: null,
      privileges: "",
      contoVirtuale: 100
    };
  },
  methods: {
    getUser() {
      Utente.firstname = this.firstname;
      Utente.lastname = this.lastname;
      Utente.username = this.username;
      Utente.password = this.password;
      Utente.dob = this.dob;
      Utente.privileges = this.privileges;
      Utente.contoVirtuale = this.contoVirtuale;
      this.createUser(Utente);
    },
    createUser(utente) {
      fetch(apiUrl + "/utenti", {
        method: "POST",
        headers: {
          Accept: "application/json",
          "Content-Type": "application/json"
        },
        body: JSON.stringify(utente)
      }).then(response => {
        this.submitted = true;
        return response.json();
      });
    }
  }
};
</script>
<style>
input,
button,
label {
  display: block;
  border-radius: 3px;
  margin: 0 auto;
}
label {
  font-size: 12px;
}
form {
  margin: 2em auto;
  padding: 1em;
  border: 2px rgba(0, 0, 0, 0.335) solid;
  width: 30%;
  text-align: center;
  overflow: hidden;
}
</style>
