<template>
  <div>
    <form>
      <span>Bentornato!</span>
      <br />
      <p>Effettua il login, oppure registrati</p>
      <input type="text" v-model="username" placeholder="username" />
      <input type="text" v-model="password" placeholder="password" />
      <button type="button" @click="login()">login</button>
    </form>
  </div>
</template>

<script>
import utente from "./models/Utente.vue";
import { getCiao } from "../utenteService";
export default {
  components: { utente },
  name: "login",
  data() {
    return {
      username: "",
      password: ""
    };
  },
  methods: {
    login() {
      this.findUser();
    },
    findUser() {
      utente.username = this.username;
      utente.password = this.password;
      getCiao();
    }
  }
};
</script>

<style></style>
