<template></template>

<script>
export default {
  name: "utente",
  props: {
    firstname: ,
    lastname: ,
    username: ,
    password: ,
    dob: null,
    privileges: ,
    contoVirtuale: 0
  },
  method: {
    getCiao() {
      console.log("ciao");
    }
  }
};
</script>
